<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ asset("css/bootstrap.css") }}">
        <title>{% block title %}Labo: Blog MVC{% endblock %}</title>
        <meta charset="UTF-8">
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block cssF %}
        {% endblock %}
        <style type="text/css">
            {% block css %}
            {% endblock %}
            @-webkit-keyframes blinker {  
                from { opacity: 1.0; }
                to { opacity: 0.0; }
            }
            .blink {
                -webkit-animation-name: blinker;  
                -webkit-animation-iteration-count: infinite;  
                -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
                -webkit-animation-duration: 1s; 
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="navbar" style="margin-top:15px;" >
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="#">Labo</a>
                        <div class="nav-collapse collapse navbar-responsive-collapse">
                            <ul class="nav">
                                <li class="active"><a href="#">SolidStarter</a></li>
                                <li><a href="#">CMS</a></li>
                                <li class="divider-vertical"></li>
                            </ul>
                            <ul class="nav pull-right">
                                <li class="divider-vertical"></li>
                                <li><a href="#">Wat dis shiet dolan?</a></li>
                            </ul>
                        </div><!-- /.nav-collapse -->
                    </div>
                </div><!-- /navbar-inner -->
            </div>
            <div class="row">
                <div class="span12 ">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset("js/bootstrap.js") }}"></script>
        <script type="text/javascript">
            {% block scripts %}{% endblock %}
        </script>
        {% block scriptsF %}{% endblock %}
    </body>
</html>  