
{% extends "layout.twig" %}

{% block title %}Blog 100% MVC lol mdr{% endblock %}

{% block content %}

    <h1>Editer un article.</h1>
    <p>
    	<form action="#" method="POST" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputTitre">Titre :</label>
				<div class="controls">
					<input name="titre" type="text" id="inputTitre" placeholder="Titre" value="{{ post.title }}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputTags">Mots clé :</label>
				<div class="controls">
					<input type="text" id="inputTags" placeholder="'mot', 'clé'"
					value="{% for tag in post.tags %}'{{tag}}' {% endfor %}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputContent">Contenu :</label>
				<div class="controls">
					<textarea cols="30" name="content" id="inputContent" placeholder="Contenu">{{ post.content }}</textarea>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" {% if post.publish %}checked{% endif %}> Publier
					</label>
					<button type="submit" class="btn btn-primary">Valider</button>
				</div>
			</div>
		</form>
    </p>

{% endblock %}