{% extends "layout.twig" %}

{% block title %}Blog fait 100% MVC lol mdr{% endblock %}

{% block content %}

    <h1>Le blog des carottes.</h1>
    <p>Nonon vous ne rêvez pas, il s'agit du plus beau blog au monde consacré aux carottes. Toutes les carottes. <strong>Toutes</strong>.</p>
	<h1>Path: </h1><p>{{ path("blog_article.voir", "slug:miam") }}</p>
{% endblock %}