{% extends "layout.twig" %}

{% block title %}Blog fait 100% MVC lol mdr{% endblock %}

{% block content %}

    <h1>Page de test.</h1>
    <p>Hé dis donc ! Tu permets ? Je teste quelques petits trucs.</p>
    <h1>$id</h1><pre>{{ print_r(id)}}</pre>
    <h1>$slug</h1><pre>{{ print_r(slug)}}</pre>
    <h1>$category</h1><pre>{{ print_r(category)}}</pre>
{% endblock %}